# Python

[Interpreted](https://discuss.codecademy.com/t/what-is-an-interpreted-language/297323), Object-oriented, General Purpose Programming Language build by **Guido Van Rossum** in late 90's

**NOTE: PYTHON IS CASE SENSITIVE**

# Integral Datatypes

- int
- float
- bool
- complex
- String
- None

In [ ]:
a = 10
type(a)

# Keywords

Keywords are Predefined words

In [ ]:
!python --version

In [ ]:
import keyword
kw_list = keyword.kwlist
print(len(kw_list))
print(kw_list)

# Identifiers

An identifier is a name given to entities like class, functions, variables, etc

Rules for naming an Identifier

- a-z
- A-Z
- 0-9 , should not start with a number
- Except '_' no other special characters are allowed, preferrably dont start with _
- Cannot use keywords

## Quick Question

In [1]:
this_is_a_variable = "var"

In [2]:
THIS_IS_A_VAR = 'VAR'

In [3]:
var_of_number_9 = 9

In [4]:
var_of_0_holding_it = 0

In [5]:
014_var = 45

SyntaxError: invalid decimal literal (743482162.py, line 1)

In [6]:
abc@c = 10

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2884655917.py, line 1)

In [7]:
ab bc = 10

SyntaxError: invalid syntax (512519538.py, line 1)

In [8]:
True = 10

SyntaxError: cannot assign to True (2227483689.py, line 1)

In [9]:
_a = 10

In [10]:
_a

10

# Operators

- Arithmetic Operators
- Assignment operators
- Relational Operators
- Logical Operators
- Membership Operators
- Identity Operators

In [12]:
10/3

3.3333333333333335

In [14]:
10//-3

-4

## Arithmetic Operators

- ( + ) Addition
- ( - ) Subtraction
- ( * ) Multiplication
- ( / ) Division
- ( ** ) Power
- ( % ) Modulus (Remainder after division)
- ( // ) Floor Division (Division + Floor)

In [ ]:
3+4

In [ ]:
3-4

In [ ]:
3*4

In [ ]:
3/4

In [ ]:
3**4

In [ ]:
3%4

In [ ]:
3//4

In [ ]:
-3//4

In [ ]:
10**3

In [ ]:
10%9

## Assignment Operators

- =
- +=
- -=
- *=
- /=
- **=
- %=
- //=

In [15]:
a = 10

In [16]:
a += 5  # a = a+5
a

15

In [ ]:
a -= 2
a

In [ ]:
a **= 2
a

## Relational Operators

- ( < ) Less than
- ( > ) Greater than
- ( <= ) Less than equals
- ( >= ) Greater than equals
- ( == ) Equals
- ( != ) Not Equals
Outcome of relational operators are always Boolean

In [ ]:
a = 10
b = 20
c = 10

In [ ]:
a < b

In [ ]:
a > b

In [ ]:
a == b

In [ ]:
a == c

In [ ]:
a <= b

## Logical Operators

- and
- or
- not

In [17]:
a = 10
b = 0
c = 40
d = 50

In [18]:
(a < b) and (b < c)

False

In [19]:
(a < b) or (b < c)

True

In [ ]:
a == 10 and b == 0 and c == 50

In [20]:
a,b,c,d

(10, 0, 40, 50)

In [21]:
a and c and d  # 10 and 40 and 50

50

In [23]:
0 and 40

0

In [ ]:
a and b and c  # 10 and 0 and 40

In [24]:
a,c,d

(10, 40, 50)

In [25]:
a or c or d

10

In [26]:
a,b,c,d

(10, 0, 40, 50)

In [28]:
a or b and c or d  # 10 or 0 or 50

# and
# or

10

## Membership Operators:
object present in iterable or not
- in:
- not in

Syntax: value in iterable

In [ ]:
dir(dict)

In [29]:
name = "Guido Van Rossum"
"Van" in name

True

In [30]:
courses = ['C','Big Data','Python']
query = 'C#'
query in courses

False

In [31]:
courses = ('C','Big Data','Python')
query = 'C'
query in courses

True

In [32]:
courses = {'C','Big Data','Python'}
query = 'ML'
query in courses

False

In [33]:
courses = ['C','Big Data','Python']
query = 'C'
query not in courses

False

In [37]:
a = 10
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

## identity operators
- is
- is not

In [38]:
a = 10
b = 10
a is b

True

In [39]:
a == b

True

In [41]:
id(a), id(b)

(2812686107152, 2812686107152)

In [42]:
l1 = [1,2,3,4]
l2 = [1,2,3,4]

In [43]:
l1 == l2

True

In [44]:
l1 is l2

False

In [45]:
id(l1), id(l2)

(2812764550592, 2812764568000)

# Typecasting

- Change the datatype of an object is known as **typecasting**
- There are 2 forms of typecasting
  1. Explicit
  2. Implicit

- Explicit: You do typeconversion on your own using

```
int()
float()
bool()
complex()
str()
```

In [46]:
bool(10)

True

In [47]:
bool("10")

True

In [48]:
bool("")

False

In [49]:
bool(" ")

True

In [50]:
bool(0.0)

False

In [ ]:
a = 10
type(a)

In [ ]:
a = float(a)
type(a)

In [ ]:
a

```
Note:
        int: 0 is False, anything other than zero is True
        str: "" is False, any other non empty string is True
        float: 0.0 is False, any other non zero floating point number is True
```

- Implicit: When different types are involved in an operation, Python converts the lower-priority type to the higher-priority type automatically. The general hierarchy (from lowest to highest priority) is: `bool → int → float → complex`

In [51]:
5 == 5.0   # 5.0 == 5.0

True

In [52]:
True == 5  # 1 == 5

False

In [53]:
True == 1

True

In [54]:
False == 0.0

True

In [55]:
3 + 5.0

8.0

In [57]:
10/2.0

5.0

# Basic Input/Output

## input() - accepts inputs from user

Note : input() stores data in string format

In [ ]:
a = input()
a

In [ ]:
num1 = float(input())
num2 = float(input())
num1 + num2

In [ ]:
num1 = float(input("Enter number 1: "))
num2 = float(input("Enter number 2: "))
num1 + num2

### Practice Questions

In [ ]:
# Wap to that takes two numbers from user and displays the addition of the two entered numbers

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print(num1 + num2)

In [ ]:
# Write a Python program which accepts the radius of a circle from the user and compute the area

radius = float(input("Enter the radius : "))
print("The area of a circle with radius of ", radius , " = ", 3.14 * radius**2)

## print() - displays the output

In [ ]:
help(print)

In [ ]:
print(10,20)

In [ ]:
print(10,20, sep = "|")

In [ ]:
print(10)
print(20)

In [ ]:
print(10)
print(20, end = "|")

In [ ]:
print("Hello", end = ".")
print("Hi")
print("Bye")

### String formattings
    1. Place holder
    2. f-string method

In [ ]:
# Write a Python program which accepts the radius of a circle from the user and compute the area

radius = float(input("Enter the radius : "))
# print("The area of a circle with radius of ", radius , " = ", 3.14 * radius**2)
print("The are of a circle with radius of {} = {}".format(radius, 3.14 * radius ** 2))

#### 1. Place holder { }

In [ ]:
# Write a Python program which accepts the radius of a circle from the user and compute the area

radius = float(input("Enter the radius : "))
# print("The area of a circle with radius of ", radius , " = ", 3.14 * radius**2)
# print("The are of a circle with radius of {} = {}".format(radius, 3.14 * radius ** 2))
print(f"The are of a circle with radius of {radius} = { 3.14 * radius ** 2}")

#### 2. f-string method
Supported in python 3.6 onwards version

In [58]:
# Wap to that takes two numbers from user and displays the addition of the two entered numbers

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print(num1 +num2)

Enter first number:  10
Enter second number:  40

50.0

In [61]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print(num1 , "+" , num2 , "=" , num1+num2)

Enter first number:  10
Enter second number:  50

10.0 + 50.0 = 60.0

In [63]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print('{} + {} = {}'.format(num1,num2,num1+num2))

Enter first number:  40
Enter second number:  56

40.0 + 56.0 = 96.0

In [64]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print(f'{num1} + {num2} = {num1+num2}')

Enter first number:  10
Enter second number:  40

10.0 + 40.0 = 50.0

In [ ]:
# Write a Python program which accepts the radius of a circle from the user and compute the area