# Collection Datatypes
- List
- Tuple
- Set
- Dictionary

## List
  - created using [ ]
  - contains multiple data of different datatypes
  - list indexing is same as string indexing
  - list are mutable
  - List supports concatenation and replication

In [ ]:
numbers = [10,20,30,40,50]

In [ ]:
numbers

In [ ]:
type(numbers)

In [ ]:
mixed_list = [10,2.3,'abc',True,5+6j,None,[1,2,3]]

In [ ]:
mixed_list

In [ ]:
mixed_list[0]

In [ ]:
mixed_list[::2]

In [ ]:
mixed_list[-1]

In [ ]:
mixed_list[-1][2]

In [ ]:
mixed_list[0][0]

In [ ]:
mixed_list[0] = 555
mixed_list

### List Operations

1. List Concatenation
2. List Replication

In [ ]:
l1 = [10,20,30]
l2 = [78,45,33]
l1 + l2

In [ ]:
l1 * 3

In [ ]:
# create a list of 0's of size 10
[0] * 10

In [ ]:
import numpy as np

In [ ]:
zeros = np.array([0] * 10)
type(zeros)

In [ ]:
zeros.reshape(-1,1)

### List methods

In [ ]:
dir(list)

#### insert()

In [ ]:
mixed_list

In [ ]:
# mixed_list = mixed_list.insert(1,500)

In [ ]:
mixed_list.insert(1,500)

In [ ]:
mixed_list

#### append()

In [ ]:
mixed_list.append(1000)
mixed_list

#### extend()

In [ ]:
mixed_list.extend([44,55,66])
mixed_list

##### Quick Questions

In [1]:
a = [1,2]
a.extend("cat")
a

[1, 2, 'c', 'a', 't']

In [2]:
a = [1,2,3]
a.append(1000)
a

[1, 2, 3, 1000]

In [3]:
a = [1,2,3]
a.extend(1000)
a

TypeError: 'int' object is not iterable

In [4]:
a = [1,2,3]
a.extend([1000])
a

[1, 2, 3, 1000]

In [5]:
a = [1,2,3]
a.extend([2000])
a

[1, 2, 3, 2000]

In [6]:
a = [1,2,3]
a.append(2000)
a

[1, 2, 3, 2000]

In [7]:
a = [1,2,3]
a.append([500,600,700])
a

[1, 2, 3, [500, 600, 700]]

In [8]:
a = [1,2,3]
a.extend([500,600,700])
a

[1, 2, 3, 500, 600, 700]

#### count()

In [ ]:
numbers_list = [100,200,500,100,300,200,400]
numbers_list

In [ ]:
numbers_list.count(200)

#### remove()

In [ ]:
numbers_list

In [ ]:
numbers_list.remove(500)

In [ ]:
numbers_list

In [ ]:
numbers_list.remove(200)

In [ ]:
numbers_list

In [ ]:
help(list.remove)

In [ ]:
numbers_list.remove(200)
numbers_list

In [ ]:
numbers_list.remove(200)

In [ ]:
num_list = [100, 200, 500, 100, 300, 200, 400]
element_to_remove = int(input())
for i in range(num_list.count(element_to_remove)):
    num_list.remove(element_to_remove)

num_list

In [ ]:
help(list.count)

#### sort()

In [ ]:
numbers_list = [100,200,5,6,47,23]
numbers_list

In [ ]:
numbers_list.sort()

In [ ]:
numbers_list

In [ ]:
numbers_list.sort(reverse = True)

In [ ]:
numbers_list

In [ ]:
mixed_list

In [ ]:
mixed_list.sort()
mixed_list

In [ ]:
emp_list = ['Sara','John','Santosh','Pam','David']
emp_list.sort()
emp_list

In [ ]:
l1 = [10,'Sara']
l1.sort()

#### index

In [ ]:
numbers_list = [200, 100, 47, 23, 6, 5,23,56,23,100]

In [ ]:
help(list.index)

In [ ]:
numbers_list.index(100)

In [ ]:
numbers_list.index(100,2)

In [ ]:
numbers_list.index(100,10)

In [ ]:
# index_to_remove = [1,3,5]
# result_list = []
# for i in range(len(numbers_list)):
#     if i ==

#### pop

In [ ]:
num_list

In [ ]:
num_list.pop(1)

In [ ]:
num_list

In [ ]:
help(list.pop)

#### reverse

In [ ]:
emp_list

In [ ]:
emp_list.reverse()
emp_list

#### clear

In [ ]:
num_list.clear()
num_list

#### copy

In [9]:
a = [10,20,30]
b = a

In [10]:
a, b

([10, 20, 30], [10, 20, 30])

In [11]:
b[0] = 500
a, b

([500, 20, 30], [500, 20, 30])

In [12]:
id(a), id(b)

(2150901769280, 2150901769280)

In [13]:
a = [10,20,50]
b = a.copy()

In [14]:
a,b

([10, 20, 50], [10, 20, 50])

In [15]:
id(a), id(b)

(2150880005952, 2150899517504)

In [ ]:
a,b

In [16]:
b[0] = 555
a,b

([10, 20, 50], [555, 20, 50])

## Tuples
- Created using ( )
- Tuples indexing is same as string indexing
- Tuples are immutable
- Tuple supports concatenation and replication

In [ ]:
salary_list = [1000,2000,3000]
salary_list[0] = 0
salary_list

In [ ]:
salary_tuple = (1000,2000,3000)
salary_tuple[0]

In [ ]:
salary_tuple[0] = 0

### Tuple Operations
1. Tuple Concatenation
2. Tuple Replication

In [ ]:
(1,2) + (30,50)

In [ ]:
(10,20) * 3

### Tuple methods

In [ ]:
dir(tuple)

#### count()

In [ ]:
salary_tuple.count(1000)

#### index()

In [ ]:
salary_tuple.index(1000)

In [ ]:
a = (1,2,(4,5,6),[10,20,30])

In [ ]:
a

In [ ]:
a[3][0] = 100

In [ ]:
a

In [ ]:
a[2][0] = 78

# Practice Programs

In [20]:
# 1. WAP to find the 2nd maximum sales

sales = [78000,9800,4566,65000]
# sales.sort()
# print(sales[-2])

sales.sort()
sales[-2]

65000

In [21]:
# 2. WAP to remove the employees from the given list
employees = ['Sara','Sam','David','Tim']
blacklisted_employees = ['Sara','David','Tom']

set(employees).difference(set(blacklisted_employees))

{'Sam', 'Tim'}

In [23]:
# 3. WAP to find client with maximum sales

sales = [['ABC Corp',65000],
         ['Dell',7800],
         ['HP',98000],
         ['Asus',4566]]
max_sale = 0
max_sale_client = ''
for client,sale in sales:
    if sale > max_sale:
        max_sale = sale
        max_sale_client = client
print(f'Client with maximum sales : {max_sale_client}')

Client with maximum sales : HP

In [24]:
# 4. WAP to find clients with sales > 10000

sales = [['ABC Corp',78000],
         ['Dell',65000],
         ['HP',9800],
         ['Asus',4566]]

# expected output: [['ABC Corp',78000],['Dell',65000]]
res = []
for client,sale in sales:
    if sale > 10000:
        res.append([client,sale])

res

[['ABC Corp', 78000], ['Dell', 65000]]

In [ ]:
# 5. Get the sales figure for Dell

sales = [['ABC Corp',78000],
         ['Dell',65000],
         ['HP',9800],
         ['Asus',4566]]

In [25]:
# 6. WAP to insert Mr. at the start of every customer name

customers = ['Guido', 'Sam', 'Ron', 'Tim', 'Danny']

for i in range(len(customers)):
    customers[i] = "Mr. " + customers[i]

customers

['Mr. Guido', 'Mr. Sam', 'Mr. Ron', 'Mr. Tim', 'Mr. Danny']

In [ ]:
# 7. WAP to add a new sales record as the first record of the list

sales = [['ABC Corp',78000],
         ['Dell',65000],
         ['HP',9800],
         ['Asus',4566]]

In [ ]:
# 8. WAP to filter all female employees from the given list

employees = ['Ms. Sara', 'Mr Jose', 'Miss Rose', 
             'Mr. Tom', 'Mrs. Dan', 'Mr David',
             'Miss Clara', 'Mrs Farah']
female_employees = []

In [ ]:
# 9. WAP to add a 10000 bonus for the clients making sales > 50000

sales = [['ABC Corp',78000],
         ['Dell',65000],
         ['HP',9800],
         ['Asus',4566]]

In [ ]:
# 10. WAP to find index numbers for all occurences of a given element

numbers_list = [200, 100, 47, 23, 6, 5,23,56,23,100]
num_to_find = int(input("Which number to find : "))

In [26]:
# 11. WAP to combine details into 1 list from 2 list

client = ['ABC Corp', 'Dell', 'HP', 'Asus']
sales = [78000, 65000, 9800, 4566]
# expected output: [['ABC Corp',78000],
#                  ['Dell',65000],
#                  ['HP',9800],
#                  ['Asus',4566]]

list(zip(client,sales))

[('ABC Corp', 78000), ('Dell', 65000), ('HP', 9800), ('Asus', 4566)]

In [ ]:
# 12. WAP to add 2 marks of grace to the students scoring less than 40
student_details = [('Greyson', 56, 99), ('Brady', 17, 96), ('Knott', 38, 94), ('Ben', 94, 88)]