# Functions

```
A function is a group of statements that together perform a task.
Declare once.
Call as many times as you want
```

**Types of Functions**
- built in
- user defined

## Built in function

In [1]:
# list of builtin functions
dir(__builtin__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [5]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [6]:
sum((10,20,30,60))

120

In [3]:
min(10,50,3,70)

3

In [4]:
max(10,50,3,70)

70

In [7]:
numbers = (10,20,30,60)
sum(numbers)/len(numbers)

30.0

In [13]:
def average(x):
    return sum(x)/len(x)

In [14]:
average

In [15]:
print

In [16]:
average((100,200,300))

200.0

In [17]:
average(numbers)

30.0

## User defined Functions
```
Syntax:

def name_of_function(argument):
  ......
  ......
  ......
  return something

### Types of user defined functions

1. Functions with no input argument and no return
2. Functions with input argument and no return
3. Functions with input argument and return
4. Functions with variable length arguments (*args)
5. Functions with keyworded variable length arguments (**kwargs)
6. Functions with positional arguments only
7. Functions with keyworded variable length argument
8. Functions with default value

#### **1. Functions with no input argument and no return**

In [26]:
val = print("Hi")
print(val)

Hi
None

In [18]:
def greet():
    print("Hello")

In [19]:
greet()

Hello

In [20]:
greet()

Hello

In [21]:
a = greet
b = a()
print(b)

Hello
None

In [23]:
a = greet
b = a
print(a(),b())

Hello
Hello
None None

In [24]:
my_msg = greet
a = my_msg
print(a())
print(my_msg())

Hello
None
Hello
None

#### **2. Functions with input argument and no return**

In [27]:
def greet_xyz(name):
    print(f'Hello {name}')

In [28]:
greet_xyz()

TypeError: greet_xyz() missing 1 required positional argument: 'name'

In [29]:
greet_xyz('Nazira')

Hello Nazira

In [30]:
greet_xyz('Sana')

Hello Sana

#### **3. Functions input argument and return**

In [31]:
def add(num1,num2):
    return num1+num2

In [33]:
res = add(10,20)

In [34]:
res

30

In [35]:
def mul(a,b):
    return a*b
mul(10,4)

40

#### **4. Functions with variable length argument**

In [36]:
add(10,50)

60

In [37]:
add(40,50)

90

In [38]:
add(4,5,6)

TypeError: add() takes 2 positional arguments but 3 were given

In [39]:
def add_vla(*args):
    print(args)

In [40]:
add_vla(10,20,30)

(10, 20, 30)

In [41]:
add_vla(10,20)

(10, 20)

In [42]:
add_vla(1)

(1,)

In [43]:
add_vla()

()

In [48]:
def add(*args):
    total = 0
    for num in a:
        total += num
    return total

In [49]:
add(10)

10

In [50]:
add(10,20)

30

In [51]:
add(10,20,20)

50

In [52]:
def temp(*a,*b):
    print(a)
    print(b)

SyntaxError: invalid syntax (226847581.py, line 1)

In [53]:
min(10,20,30,40)

10

In [54]:
min(4,8,1,6)

1

In [56]:
min(4,3)

3

In [66]:
def my_min(*args):
    if len(args) > 0:
        if isinstance(args[0],int) or isinstance(args[0],int): 
            min_num = args[0]
            for num in args[1:]:
                if num < min_num:
                    min_num = num
            return min_num
        else:
            print("minimum 1 number required")

In [67]:
min(10,20,30,40), my_min(10,20,30,40)

(10, 10)

In [59]:
my_min(4,8,1,6)

1

In [60]:
my_min(4,3)

3

In [61]:
my_min()

minimum 1 number required

In [62]:
numbers

(10, 20, 30, 60)

In [65]:
a = 10
isinstance(a, float)

False

In [63]:
isinstance(numbers,tuple)

True

#### **5. Functions with keyworded variable length argument**

In [68]:
def survey(name,age,*others):
    print(name)
    print(age)
    print(others)

In [69]:
survey('Nazira',15)

Nazira
15
()

In [70]:
survey('Arpita',16,'Black','Black','Cricket')

Arpita
16
('Black', 'Black', 'Cricket')

In [71]:
survey('Arpita',16,eye_color = 'Black',hair_color = 'Black',sports = 'Cricket')

TypeError: survey() got an unexpected keyword argument 'eye_color'

In [75]:
def survey(name,age,**kwargs):
    print(name)
    print(age)
    print(kwargs)

In [76]:
survey('Nazira',15)

Nazira
15
{}

In [79]:
survey('Arpita',16,eye_color ='Black',hair_color = 'Black',sports = 'Cricket')

Arpita
16
{'eye_color': 'Black', 'hair_color': 'Black', 'sports': 'Cricket'}

In [80]:
survey(name = 'Arpita',age = 16,eye_color ='Black',hair_color = 'Black',sports = 'Cricket')

Arpita
16
{'eye_color': 'Black', 'hair_color': 'Black', 'sports': 'Cricket'}

#### Argument matching:
1. Positional matching
2. Keyworded matching

In [81]:
def temp(a,b,c):
    print(f'a : {a}')
    print(f'b : {b}')
    print(f'c : {c}')

In [82]:
temp(10,20,30)                      # Positional argument

a : 10
b : 20
c : 30

In [83]:
temp(c = 10,b = 50,a = 20)          # Keyworded argument

a : 20
b : 50
c : 10

In [84]:
temp(10,20,c = 30)

a : 10
b : 20
c : 30

In [85]:
temp(10,20,a = 30)

TypeError: temp() got multiple values for argument 'a'

In [86]:
temp(c = 10,20,30)

SyntaxError: positional argument follows keyword argument (1514140277.py, line 1)

In [87]:
temp(a = 10,b = 20,30)

SyntaxError: positional argument follows keyword argument (384518569.py, line 1)

In [88]:
temp(30,c = 10,b = 20)

a : 30
b : 20
c : 10

Note: In python poistional arguments folllowed by keyworded arguments are not allowed

In [97]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [96]:
"Nuvama Wealth".find('a')

3

In [98]:
"Nuvama Wealth".find('a', 4)

5

In [99]:
"Nuvama Wealth".find('a', start = 4)

TypeError: find() takes no keyword arguments

#### 6. Functions with positional arguments only

In [89]:
def add(a,b,/):
    return a+b

In [90]:
add(10,20)

30

In [91]:
add(a = 10,b = 20)

TypeError: add() got some positional-only arguments passed as keyword arguments: 'a, b'

In [92]:
def temp(a,b,/,c):
    print(a,b,c)

In [93]:
temp(10,20,c = 30)

10 20 30

In [94]:
temp(10,20,30)

10 20 30

In [95]:
temp(a = 10,b = 20,c = 30)

TypeError: temp() got some positional-only arguments passed as keyword arguments: 'a, b'

#### 7. Functions with keyworded argument only

In [100]:
def division(*,nr,dr):
    return nr/dr

In [101]:
division(20,10)

TypeError: division() takes 0 positional arguments but 2 were given

In [102]:
division(nr = 10,dr = 20)

0.5

In [106]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

#### 8. Functions with default value

In [103]:
def mul(a,b = 1):
    return a*b

In [104]:
mul(10,2)

20

In [105]:
mul(10)

10

In [ ]:
mul()

In [ ]:
def func(x, y=[]):     # Note: the default value is only created once during function defination
    y.append(x)
    return y

print(func(1))
print(func(2))

In [ ]:
print(func(3, []))
print(func(4))

In [ ]:
# positional arguments, vla, keyworded arguments, default arguments, kwargs

#### Quick Questions

In [107]:
# 1. 
def mixed_function(a, b, *args, c=10, **kwargs):
    print(f"a = {a}, b = {b}, c = {c}")
    print(f"args = {args}")
    print(f"kwargs = {kwargs}")

mixed_function(1, 2, 3, 4, 5, c=20, x=100, y=200)

a = 1, b = 2, c = 20
args = (3, 4, 5)
kwargs = {'x': 100, 'y': 200}

In [108]:
# 2. 
def greet(name, age):
    print(f"Hello, {name}! You are {age} years old.")

greet("Alice", 25)
greet(25, "Alice")

Hello, Alice! You are 25 years old.
Hello, 25! You are Alice years old.

In [109]:
# 3. 
def greet(name, age):
    print(f"Hello, {name}! You are {age} years old.")

greet(age=30, name="Bob")

Hello, Bob! You are 30 years old.

In [110]:
# 4. 
def greet(name="Guest", age=18):
    print(f"Hello, {name}! You are {age} years old.")

greet()
greet("Charlie")
greet(age=40)

Hello, Guest! You are 18 years old.
Hello, Charlie! You are 18 years old.
Hello, Guest! You are 40 years old.

In [111]:
# 5. 
def add_numbers(*args):
    print(args)
    return sum(args)

print(add_numbers(1, 2, 3))
print(add_numbers(10, 20, 30, 40))

(1, 2, 3)
6
(10, 20, 30, 40)
100

In [112]:
# 6. 
def user_info(**kwargs):
    print(kwargs)

user_info(name="David", age=35, city="New York")

{'name': 'David', 'age': 35, 'city': 'New York'}

In [118]:
# 7.
def multiply(a, b, c):
    print(a,b,c)
    return a * b * c

numbers = (2, 3, 4)
print(multiply(*numbers))         # argument unpacking

2 3 4
24

In [121]:
values = range(2)
def temp(a,b):
    print(a,b)

temp(*values)

0 1

In [119]:
# 8.
values = { "b": 3, "c": 4, "a": 2}
print(multiply(**values))         # argument unpacking

2 3 4
24

In [122]:
# 9.
def func(*,a,b,c,d,/):
    print(f'a : {a}')
    print(f'b : {b}')
    print(f'c : {c}')
    print(f'd : {d}')
func(a = 10,b = 20,30,40)

SyntaxError: invalid syntax (3284953156.py, line 2)

In [123]:
# 10. guess the ouput
def func(a,b,/,*,c,d):
    print(f'a : {a}')
    print(f'b : {b}')
    print(f'c : {c}')
    print(f'd : {d}')
func(10,20,c = 30,d = 40)

a : 10
b : 20
c : 30
d : 40

In [124]:
func(10,20,30,40)

TypeError: func() takes 2 positional arguments but 4 were given

In [125]:
func(a = 10,b = 20,c = 30,d = 40)

TypeError: func() got some positional-only arguments passed as keyword arguments: 'a, b'

In [126]:
func(10,20,d = 30,c = 40)

a : 10
b : 20
c : 40
d : 30

In [127]:
# 11. 
def order(item, quantity, *, discount=0):
    total = quantity * 10
    total -= total * (discount / 100)
    print(f"Item: {item}, Quantity: {quantity}, Discount: {discount}%")
    print(f"Total Price: ${total}")

order("Shoes", 2, discount=10)

Item: Shoes, Quantity: 2, Discount: 10%
Total Price: $18.0

In [129]:
# 12. 
order("Shoes", 2, 10)

TypeError: order() takes 2 positional arguments but 3 were given

In [130]:
# 13. 
def complex_func(a, b, /, *args, c=10, **kwargs):
    print(f"a = {a}, b = {b}, c = {c}")
    print(f"args = {args}")
    print(f"kwargs = {kwargs}")

complex_func(1, 2, 3, 4, 5, c=20, x=100, y=200)

a = 1, b = 2, c = 20
args = (3, 4, 5)
kwargs = {'x': 100, 'y': 200}

In [131]:
# 14. 
complex_func(a=1, b=2)

TypeError: complex_func() missing 2 required positional arguments: 'a' and 'b'

In [132]:
complex_func(1,2)

a = 1, b = 2, c = 10
args = ()
kwargs = {}

In [ ]:
# 15. 
def func(a, b):
    return a * b

print(func(2, "Hello"))

In [136]:
# 16. 
def example(x=[]):      # default arguments are created only during function defination
    x.append(len(x))
    return x

print(example())
print(example())
print(example([]))
print(example())
print(example([]))

[0]
[0, 1]
[0]
[0, 1, 2]
[0]

In [141]:
# 17. 
def check_value(key, data={1: "A", 2: "B"}):
    data[key] = "C"
    return data

print(check_value(3))
print(check_value(4))
print(check_value(2, {}))
print(check_value(5))

{1: 'A', 2: 'B', 3: 'C'}
{1: 'A', 2: 'B', 3: 'C', 4: 'C'}
{2: 'C'}
{1: 'A', 2: 'B', 3: 'C', 4: 'C', 5: 'C'}

In [ ]:
# 18. 
def modify_list(lst):
    lst.append(100)
    return lst

numbers = [1, 2, 3]
print(modify_list(numbers))
print(numbers)

In [ ]:
# 19.
def modify_list(lst):
    lst = lst.copy()  
    lst.append(100)
    return lst

numbers = [1, 2, 3]
print(modify_list(numbers))  
print(numbers)

# pass

- occupies a space
- does nothing

In [143]:
def load_data():
    pass

In [146]:
load_data()

In [145]:
def load_data():
    ...

In [148]:
for i in range(10):
    pass

SyntaxError: incomplete input (2213876541.py, line 1)

# Docstring:
The string statement followed by the function name is called the docstring
(shortform for documentation string). It provides a convenient way of associating documentation with Python modules, functions, classes.
It is specified in the source code that is used like a comment, in order to document a specific segment of code.

In [149]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [150]:
help(str.startswith)

Help on method_descriptor:

startswith(...)
    S.startswith(prefix[, start[, end]]) -> bool

    Return True if S starts with the specified prefix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    prefix can also be a tuple of strings to try.

In [152]:
help(my_min)

Help on function my_min in module __main__:

my_min(*args)

In [157]:
def my_max(*args):
    """
    This accepts variable number of arguments
    Returns the largest number out of the given numbers
    """
    big = args[0]
    for num in args[1:]:
        if num > big:
            big = num
    return big

In [158]:
help(my_max)

Help on function my_max in module __main__:

my_max(*args)
    This accepts variable number of arguments
    Returns the largest number out of the given numbers

In [ ]:
max(10,50,30,40)

In [ ]:
my_max(10,50,30,40)

In [ ]:
help(my_max)

# Practice programs

In [159]:
# 1. WAP to sum all the elements sales

sales = [78000,65000,9800,4566]
sum(sales)

157366

In [160]:
# 2. WAP to find the maximum and minimum sales, average sales

sales = [78000,65000,9800,4566]
max(sales),min(sales),average(sales)

(78000, 4566, 39341.5)

In [161]:
# 3.Write a Python function that takes a list and returns a new list with
# unique elements of the first list.

def get_unique(x):
    if isinstance(x,list):
        return list(set(x))
    else:
        print("Input not a list")

In [162]:
numbers = [10,20,10,40,50,60,30,20]
get_unique(numbers)

[40, 10, 50, 20, 60, 30]

In [163]:
numbers = (10,20,10,40,50,60,30,20)
get_unique(numbers)

Input not a list

In [165]:
# 4.Write a Python function to merge two Python dictionaries

def merge_dict(dict1,dict2):
    # dict1.update(dict2)
    # return dict1

    return dict1 | dict2

merge_dict({1:'a',2:10},{30:4})

{1: 'a', 2: 10, 30: 4}

In [ ]:
# 5. Write a Python function to remove a key from a dictionary.

In [166]:
# 6. reverse of string
def reverse_string(text):
    return text[::-1]

reverse_string("Nuvama")

'amavuN'

In [170]:
# 7. pallindrome

def check_pallindrome(text):
    return text.lower() == reverse_string(text).lower()

check_pallindrome('Malayalam')

True

# Lambda Functions/ Anonymous function

One line function:
- n no. of arguments
- one expression

**Syntax:**
```
  lambda arguments: expression
```

In [171]:
def cube(x):
    return x**3

In [172]:
cube(3)

27

In [174]:
cube_lambda = lambda x: x**3
cube_lambda(3)

27

In [175]:
add = lambda a,b : a+b
add(10,50)

60

## filter()

In [178]:
def get_even(x):
    return x%2 == 0

list(filter(get_even, range(10)))

[0, 2, 4, 6, 8]

In [179]:
list(filter(lambda x:x%2==0, range(10)))

[0, 2, 4, 6, 8]

In [176]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [182]:
# WAP to get all numbers that are divisible by 3 between 0 to 30
for i in filter(lambda x : x%3==0,range(31)):
    print(i)

0
3
6
9
12
15
18
21
24
27
30

In [183]:
list(filter(lambda x : x%3==0,range(31)))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [184]:
# WAF to get all numbers between 0 to 100 that are divisible by 3 and 5 both
list(filter(lambda x: x%3 == 0 and x%5 == 0,range(101)))

[0, 15, 30, 45, 60, 75, 90]

In [188]:
# From the given students_list get all students whose name startswith s
students_list = ['Sam','sarah','Joel']
list(filter(lambda x: x[0].lower() == 's', students_list))

['Sam', 'sarah']

In [189]:
# If function is None, return the items that are true.
list(filter(None, [1,0,False,"."," ",20,"", True]))

[1, '.', ' ', 20, True]

## map()

![image.png]()

In [1]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [11]:
numbers = ['10','20','30','40']
# new_list = []
# for num in numbers:
#     new_list.append(int(num))
# new_list

list(map(lambda x:int(x), numbers))

[10, 20, 30, 40]

In [13]:
# WAF that maps [0,1,2,3,4] to a new list: 
# the mapping relation is f(x) = x^2+2x+6

list(map(lambda x:x**2+2*x+6,[0,1,2,3,4]))

[6, 9, 14, 21, 30]

In [ ]:
list(map(int, ['10','20','30','40']))

In [15]:
# WAF to find squares of the numbers till 10

list(map(lambda x:x**2,range(1,11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# get a newlist based on given list where add Student at the start of every student name
students_list = ['Sam','sarah','Joel']

list(map(lambda x: "Mr. " + x, students_list))

['Mr. Sam', 'Mr. sarah', 'Mr. Joel']

In [19]:
list(map(int,input('pass the numbers seperated by commas:').split(',')))

pass the numbers seperated by commas 1,2,3,4

[1, 2, 3, 4]

## sorted

In [190]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [192]:
# WAP to sort the given data based on 2nd element
data = [('John',10,50),('Sara',60,30),('Jim',2,10), ('xyz',20,20)]
sorted(data, key = lambda x:x[1])

[('Jim', 2, 10), ('John', 10, 50), ('xyz', 20, 20), ('Sara', 60, 30)]

In [193]:
# WAP to sort the given list in descending order based on 2nd element
data = [(10,20),(3,5), (30,1)]
sorted(data, key = lambda x:x[-1], reverse = False)

[(30, 1), (3, 5), (10, 20)]

In [195]:
# Write a Python program to sort the students based on name

marks_dict = {'Suraj' : 50, 'Prasad' : 60, 'Santosh' : 45, 'Poojita' : 90}
dict(sorted(marks_dict.items()))

{'Poojita': 90, 'Prasad': 60, 'Santosh': 45, 'Suraj': 50}

In [196]:
# Write a Python program to sort the students based on marks

marks_dict = {'Suraj' : 50, 'Prasad' : 60, 'Santosh' : 45, 'Poojita' : 90}
dict(sorted(marks_dict.items(), key = lambda x: x[1]))

{'Santosh': 45, 'Suraj': 50, 'Prasad': 60, 'Poojita': 90}

In [197]:
# WAP to sort a dicionary by scores in reverse order
student_scores = {'John':86,
                 'Sachin':560,
                 'Danny':78}
dict(sorted(student_scores.items(), key = lambda x: x[1], reverse = False))

{'Danny': 78, 'John': 86, 'Sachin': 560}

In [ ]:
# .Write a Python program to get the top three items in a shop.
# Sample data: {'lux': 45.50, 'santoor':35, 'dove': 41.30, 'camay':55, 'liril': 24}
# Expected Output:
# camay 55
# lux 45.5
# dove 41.3
data = {'lux': 45.50, 'santoor':35, 'dove': 41.30, 'camay':55, 'liril': 24}

In [199]:
# Write a Python program to sort a list of dictionaries based on marks
subject_marks = [{'Subject':'English','Marks':80},
                 {'Subject':'Maths','Marks':60},
                 {'Subject':'Science','Marks':70}]

sorted(subject_marks, key = lambda x:x['Marks'])

[{'Subject': 'Maths', 'Marks': 60},
 {'Subject': 'Science', 'Marks': 70},
 {'Subject': 'English', 'Marks': 80}]