# List Comprehension:
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing iterable.
```
Syntax

[expresssion for item in iterable]

[expression for item in iterable if condition == True]

[exp1 if cond else exp2 for item in iterable]
```

In [1]:
# WAP using list comprehension which adds Mr. at the start of every name in the students list
student_list = ['Sudarshan', 'sam', 'Joel', 'Sarah']
res = []
for student in student_list:
    res.append(f'Mr. {student}')
res

['Mr. Sudarshan', 'Mr. sam', 'Mr. Joel', 'Mr. Sarah']

In [2]:
[f'Mr. {student}' for student in student_list]

['Mr. Sudarshan', 'Mr. sam', 'Mr. Joel', 'Mr. Sarah']

In [3]:
# convert every element in the list to integer
numbers = ['10','20','30']
[int(num) for num in numbers]

[10, 20, 30]

In [4]:
# make every name in list as upper case
name_list = ['Jane','Sam','Tom','Danny','Guido','Sara']
[name.upper() for name in name_list]

['JANE', 'SAM', 'TOM', 'DANNY', 'GUIDO', 'SARA']

In [5]:
# using comprehension get all even numbers from a given list
numbers = [5,9,7,6,1,4,8,3,2,0]
[num for num in numbers if num%2 == 0]

[6, 4, 8, 2, 0]

In [6]:
# get list of all odd numbers between 1 to 20
[num for num in range(1,21) if num%2 != 0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [8]:
# Get those name which startswith s and ends with a
name_list = ['Jane','Sam','Tom','Danny','Sana','Guido','Sara','Savio']
[name for name in name_list if name[0].lower() == 's' and name[-1].lower() == 'a']

['Sana', 'Sara']

In [9]:
# WAP which multiplies every even element by 10, and odd elements by 5
numbers = [10,21,36,57,45]
[num*10 if num%2 == 0 else num*5 for num in numbers]

[100, 105, 360, 285, 225]

In [ ]:
# 1. WAP to get a list of all students whose name starts with 's'
student_list = ['Sudarshan', 'sam', 'Joel', 'Sarah']

In [ ]:
# 2. WAP to get status list from scores_list, if score >= 80 then good,else bad
scores = [80,65,72,56,23,98,62]

In [13]:
scores = [100,99,56,100,88]
list(enumerate(scores))

[(0, 100), (1, 99), (2, 56), (3, 100), (4, 88)]

In [14]:
# 3. Add 5 for every even index and add 10 for every odd index
numbers = [10,20,30,40,50]
# output = [15,30,35,50,55]

[num + 5 if i%2 == 0 else num+10 for i,num in enumerate(numbers)]

[15, 30, 35, 50, 55]

In [16]:
# nested loops in comprehension

[(i,j) for i in range(2) for j in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

In [17]:
[(i,j) for i in range(2) for j in range(3) if i+j == 3]

[(1, 2)]

In [18]:
[(i,j,k) for i in range(3) for j in range(4) for k in range(5) if i+j+k == 2]

[(0, 0, 2), (0, 1, 1), (0, 2, 0), (1, 0, 1), (1, 1, 0), (2, 0, 0)]

In [19]:
# Create a set where every element is square of numbers
numbers = [10,20,30,40,50]

{num**2 for num in numbers}

{100, 400, 900, 1600, 2500}

In [20]:
# Dictionary comprehension

# Create a new dictionary from the existing one such that {'a': 1,'b':4,'c':16}
data_dict = {'a': 1,'b':2,'c':4}

{k:v**2 for k,v in data_dict.items()}

{'a': 1, 'b': 4, 'c': 16}

In [23]:
# Create a new dictionary from the existing one such that {'a_1': 1,'b_2':4,'c_3':16}
data_dict = {'a': 1,'b':2,'c':4}
{f'{data[0]}_{i}':data[1]**2 for i,data in enumerate(data_dict.items(),1)}

{'a_1': 1, 'b_2': 4, 'c_3': 16}

In [24]:
(i**2 for i in range(5))