# Collection Datatypes
- List
- Tuple
- Set
- Dictionary

## List
  - created using [ ]
  - contains multiple data of different datatypes
  - list indexing is same as string indexing
  - list are mutable
  - List supports concatenation and replication

In [1]:
numbers = [10,20,30,40,50]

In [2]:
numbers

[10, 20, 30, 40, 50]

In [3]:
type(numbers)

list

In [30]:
mixed_list = [10,2.3,'abc',True,5+6j,None,[1,2,3]]

In [31]:
mixed_list

[10, 2.3, 'abc', True, (5+6j), None, [1, 2, 3]]

In [32]:
mixed_list[0]

10

In [33]:
mixed_list[::2]

[10, 'abc', (5+6j), [1, 2, 3]]

In [34]:
mixed_list[-1]

[1, 2, 3]

In [35]:
mixed_list[-1][2]

3

In [36]:
mixed_list[0][0]

TypeError: 'int' object is not subscriptable

In [37]:
mixed_list[0] = 555
mixed_list

[555, 2.3, 'abc', True, (5+6j), None, [1, 2, 3]]

### List Operations

1. List Concatenation
2. List Replication

In [14]:
l1 = [10,20,30]
l2 = [78,45,33]
l1 + l2

[10, 20, 30, 78, 45, 33]

In [15]:
l1 * 3

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [16]:
# create a list of 0's of size 10
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [17]:
import numpy as np

In [19]:
zeros = np.array([0] * 10)
type(zeros)

numpy.ndarray

In [21]:
zeros.reshape(-1,1)

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0]])

### List methods

In [23]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#### insert()

In [38]:
mixed_list

[555, 2.3, 'abc', True, (5+6j), None, [1, 2, 3]]

In [28]:
# mixed_list = mixed_list.insert(1,500)

In [39]:
mixed_list.insert(1,500)

In [40]:
mixed_list

[555, 500, 2.3, 'abc', True, (5+6j), None, [1, 2, 3]]

#### append()

In [41]:
mixed_list.append(1000)
mixed_list

[555, 500, 2.3, 'abc', True, (5+6j), None, [1, 2, 3], 1000]

#### extend()

In [42]:
mixed_list.extend([44,55,66])
mixed_list

[555, 500, 2.3, 'abc', True, (5+6j), None, [1, 2, 3], 1000, 44, 55, 66]

##### Quick Questions

In [43]:
a = [1,2]
a.extend("cat")
a

[1, 2, 'c', 'a', 't']

In [44]:
a = [1,2,3]
a.append(1000)
a

[1, 2, 3, 1000]

In [45]:
a = [1,2,3]
a.extend(1000)
a

TypeError: 'int' object is not iterable

In [46]:
a = [1,2,3]
a.extend([1000])
a

[1, 2, 3, 1000]

In [47]:
a = [1,2,3]
a.extend([2000])
a

[1, 2, 3, 2000]

In [48]:
a = [1,2,3]
a.append(2000)
a

[1, 2, 3, 2000]

In [49]:
a = [1,2,3]
a.append([500,600,700])
a

[1, 2, 3, [500, 600, 700]]

In [50]:
a = [1,2,3]
a.extend([500,600,700])
a

[1, 2, 3, 500, 600, 700]

#### count()

In [51]:
numbers_list = [100,200,500,100,300,200,400]
numbers_list

[100, 200, 500, 100, 300, 200, 400]

In [52]:
numbers_list.count(200)

2

#### remove()

In [53]:
numbers_list

[100, 200, 500, 100, 300, 200, 400]

In [54]:
numbers_list.remove(500)

In [55]:
numbers_list

[100, 200, 100, 300, 200, 400]

In [56]:
numbers_list.remove(200)

In [57]:
numbers_list

[100, 100, 300, 200, 400]

In [58]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [59]:
numbers_list.remove(200)
numbers_list

[100, 100, 300, 400]

In [60]:
numbers_list.remove(200)

ValueError: list.remove(x): x not in list

In [61]:
num_list = [100, 200, 500, 100, 300, 200, 400]
element_to_remove = int(input())
for i in range(num_list.count(element_to_remove)):
    num_list.remove(element_to_remove)

num_list

 200

[100, 500, 100, 300, 400]

In [62]:
help(list.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

#### sort()

In [79]:
numbers_list = [100,200,5,6,47,23]
numbers_list

[100, 200, 5, 6, 47, 23]

In [80]:
numbers_list.sort()

In [81]:
numbers_list

[5, 6, 23, 47, 100, 200]

In [82]:
numbers_list.sort(reverse = True)

In [83]:
numbers_list

[200, 100, 47, 23, 6, 5]

In [84]:
mixed_list

[555, 500, 2.3, 'abc', True, (5+6j), None, [1, 2, 3], 1000, 44, 55, 66]

In [85]:
mixed_list.sort()
mixed_list

TypeError: '<' not supported between instances of 'str' and 'float'

In [86]:
emp_list = ['Sara','John','Santosh','Pam','David']
emp_list.sort()
emp_list

['David', 'John', 'Pam', 'Santosh', 'Sara']

In [87]:
l1 = [10,'Sara']
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

#### index

In [66]:
numbers_list = [200, 100, 47, 23, 6, 5,23,56,23,100]

In [67]:
help(list.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [69]:
numbers_list.index(100)

1

In [70]:
numbers_list.index(100,2)

9

In [73]:
numbers_list.index(100,10)

ValueError: 100 is not in list

In [ ]:
# index_to_remove = [1,3,5]
# result_list = []
# for i in range(len(numbers_list)):
#     if i ==

#### pop

In [76]:
num_list

[100, 500, 100, 300, 400]

In [77]:
num_list.pop(1)

500

In [78]:
num_list

[100, 100, 300, 400]

In [75]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

#### reverse

In [89]:
emp_list

['David', 'John', 'Pam', 'Santosh', 'Sara']

In [90]:
emp_list.reverse()
emp_list

['Sara', 'Santosh', 'Pam', 'John', 'David']

#### clear

In [91]:
num_list.clear()
num_list

[]

#### copy

In [92]:
a = [10,20,30]
b = a

In [93]:
a, b

([10, 20, 30], [10, 20, 30])

In [94]:
b[0] = 500
a, b

([500, 20, 30], [500, 20, 30])

In [95]:
id(a), id(b)

(1661350026176, 1661350026176)

In [96]:
a = [10,20,50]
b = a.copy()

In [97]:
id(a), id(b)

(1661354884352, 1661354869632)

In [98]:
a,b

([10, 20, 50], [10, 20, 50])

In [99]:
b[0] = 555
a,b

([10, 20, 50], [555, 20, 50])

## Tuples
- Created using ( )
- Tuples indexing is same as string indexing
- Tuples are immutable
- Tuple supports concatenation and replication

In [100]:
salary_list = [1000,2000,3000]
salary_list[0] = 0
salary_list

[0, 2000, 3000]

In [106]:
salary_tuple = (1000,2000,3000)
salary_tuple[0]

1000

In [102]:
salary_tuple[0] = 0

TypeError: 'tuple' object does not support item assignment

### Tuple Operations
1. Tuple Concatenation
2. Tuple Replication

In [103]:
(1,2) + (30,50)

(1, 2, 30, 50)

In [104]:
(10,20) * 3

(10, 20, 10, 20, 10, 20)

### Tuple methods

In [105]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

#### count()

In [ ]:
salary_tuple.count(1000)

#### index()

In [ ]:
salary_tuple.index(1000)

In [108]:
a = (1,2,(4,5,6),[10,20,30])

In [109]:
a

(1, 2, (4, 5, 6), [10, 20, 30])

In [114]:
a[3][0] = 100

In [115]:
a

(1, 2, (4, 5, 6), [100, 20, 30])

In [112]:
a[2][0] = 78

TypeError: 'tuple' object does not support item assignment

# Practice Programs

In [119]:
# 1. WAP to find the 2nd maximum sales

sales = [78000,9800,4566,65000]
sales.sort()
sales[-2]

65000

In [130]:
# 2. WAP to remove the employees from the given list
employees = ['Sara','Sam','David','Tim']
blacklisted_employees = ['Sara','David','Tom']

for i in range(len(employees)):
    employees[i] = employees[i].lower()
    
for emp in blacklisted_employees:
    if emp.lower() in employees:
        employees.remove(emp.lower())
employees

['sam', 'tim']

In [124]:
# 3. WAP to find client with maximum sales

sales = [['ABC Corp',65000],
         ['Dell',7800],
         ['HP',98000],
         ['Asus',4566]]
max_sale = 0
client_with_max_sale = ""
for client,sale in sales:
    if sale > max_sale:
        max_sale = sale
        client_with_max_sale = client

print(f"{client_with_max_sale} has done max sale with sale value of {max_sale}")

HP has done max sale with sale value of 98000

In [125]:
# 4. WAP to find clients with sales > 10000

sales = [['ABC Corp',78000],
         ['Dell',65000],
         ['HP',9800],
         ['Asus',4566]]

# expected output: [['ABC Corp',78000],['Dell',65000]]
res = []
for x in sales:
    if x[-1] > 10000:
        res.append(x)

res

[['ABC Corp', 78000], ['Dell', 65000]]

In [134]:
# 5. Get the sales figure for Dell

sales = [['ABC Corp',78000],
         ['Dell',65000],
         ['HP',9800],
         ['Asus',4566]]

for x in sales:
    if x[0].upper() == 'DELL':
        print(x[1])

65000

In [135]:
# 6. WAP to insert Mr. at the start of every customer name

customers = ['Guido', 'Sam', 'Ron', 'Tim', 'Danny']

for i in range(len(customers)):
    customers[i] = "Mr. " + customers[i]
customers

['Mr. Guido', 'Mr. Sam', 'Mr. Ron', 'Mr. Tim', 'Mr. Danny']

In [137]:
customers = ['Guido', 'Sam', 'Ron', 'Tim', 'Danny']
updated_customers = []
for customer in customers:
    updated_customers.append("Mr. " + customer)

updated_customers

['Mr. Guido', 'Mr. Sam', 'Mr. Ron', 'Mr. Tim', 'Mr. Danny']

In [ ]:
# 7. WAP to add a new sales record as the first record of the list

sales = [['ABC Corp',78000],
         ['Dell',65000],
         ['HP',9800],
         ['Asus',4566]]

In [141]:
# 8. WAP to filter all female employees from the given list

employees = ['Ms. Sara', 'Mr Jose', 'Miss Rose', 
             'Mr. Tom', 'Mrs. Dan', 'Mr David',
             'Miss Clara', 'Mrs Farah']
female_employees = []
for emp in employees:
    if emp.split()[0] in ['Ms.', 'Miss', 'Mrs.','Mrs', 'Ms', 'Miss.']:
        female_employees.append(emp)
female_employees

['Ms. Sara', 'Miss Rose', 'Mrs. Dan', 'Miss Clara', 'Mrs Farah']

In [142]:
# 9. WAP to add a 10000 bonus for the clients making sales > 50000

sales = [['ABC Corp',78000],
         ['Dell',65000],
         ['HP',9800],
         ['Asus',4566]]
for i in range(len(sales)):
    if sales[i][-1] > 50000:
        sales[i][-1] += 10000

sales

[['ABC Corp', 88000], ['Dell', 75000], ['HP', 9800], ['Asus', 4566]]

In [144]:
sales = [['ABC Corp',78000],
         ['Dell',65000],
         ['HP',9800],
         ['Asus',4566]]
new_sales = []
for sale in sales:
    if sale[-1] > 50000:
        x = sale
        x[-1] += 10000
        new_sales.append(x)
    else:
        new_sales.append(sale)
new_sales

[['ABC Corp', 88000], ['Dell', 75000], ['HP', 9800], ['Asus', 4566]]

In [ ]:
# 10. WAP to find index numbers for all occurences of a given element

numbers_list = [200, 100, 47, 23, 6, 5,23,56,23,100]
num_to_find = int(input("Which number to find : "))

In [ ]:
# 11. WAP to combine details into 1 list from 2 list

client = ['ABC Corp', 'Dell', 'HP', 'Asus']
sales = [78000, 65000, 9800, 4566]
# expected output: [['ABC Corp',78000],
#                  ['Dell',65000],
#                  ['HP',9800],
#                  ['Asus',4566]]

In [ ]:
# 12. WAP to add 2 marks of grace to the students scoring less than 40
student_details = [('Greyson', 56, 99), ('Brady', 17, 96), ('Knott', 38, 94), ('Ben', 94, 88)]