## Sets
- Created using { }
- Sets are collection of unordered unique elements
- Sets have no indexes
- Sets does not support concatenation and replication with + & *

In [3]:
s1 = {5,4,1,7,8,1,2,3,2,3,2,3}
s1

{1, 2, 3, 4, 5, 7, 8}

In [5]:
s2 = {'C','c','A','B'}
s2

{'A', 'B', 'C', 'c'}

In [6]:
s1[0]

TypeError: 'set' object is not subscriptable

In [7]:
{1,2,3} + {4,5,6}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [8]:
s3 = {1,'A'}
s3

{1, 'A'}

In [9]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [19]:
a = {10,20,30,40}
a.discard(20)

In [20]:
a

{10, 30, 40}

In [21]:
a.pop()

40

In [17]:
help(set.pop)

Help on method_descriptor:

pop(...)
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [16]:
help(set.discard)

Help on method_descriptor:

discard(...)
    Remove an element from a set if it is a member.

    If the element is not a member, do nothing.

In [22]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [23]:
a = {10,20,30,40}
b = {30,40,50,60}
a.symmetric_difference(b)

{10, 20, 50, 60}

In [15]:
a

{10, 20}

In [24]:
# 1. Check if all the given pan-numbers are unique
pan_numbers = ['ABCQD7856S', 'SFEQD7773W', 'ABCQD7856S'] 
unique_pan_numbers = set(pan_numbers)
if len(pan_numbers) == len(unique_pan_numbers):
    print("They are unique")
else:
    print("Not unique")

Not unique

In [27]:
# 2. Get the 2nd maximum price
product_prices = [1000,2000,5000,1000,2000,3000,5000]
product_prices = list(set(product_prices))
product_prices.sort()
product_prices[-2]

3000

In [31]:
product_prices = [1000,2000,5000,1000,2000,3000,5000]
product_prices = set(product_prices)
product_prices = sorted(product_prices)
product_prices[-2]

3000

In [ ]:
# 3. WAP to find the 2nd maximum sales
sales = [78000,9800,4566,65000,78000]

In [33]:
# 4. Write a Python program to find common items in two lists.
l1 = [10,20,50,60]
l2 = [50,60,80,90]

list(set(l1).intersection(set(l2)))

[50, 60]

In [34]:
# 5. Get employees who works in both banglore and mumbai branch
banglore_employees = {'Sara','Jim','John','David','Yash'}
mumbai_employees = {'Yash','Preeti','Pam','Sara'}
uk_employees = {'Jim','John','Yash'}

banglore_employees.intersection(mumbai_employees)

{'Sara', 'Yash'}

In [35]:
# 6. Employees who works for all 3 branches

banglore_employees.intersection(mumbai_employees, uk_employees)

{'Yash'}

In [40]:
# 7. Get list of all employees who are working in only one branch
banglore_employees = {'Sara','Jim','John','David','Yash'}
mumbai_employees = {'Yash','Preeti','Pam','Sara'}
uk_employees = {'Jim','John','Yash'}

all_emp = banglore_employees.union(mumbai_employees,uk_employees)
bu = banglore_employees.intersection(uk_employees)
bm = banglore_employees.intersection(mumbai_employees)
mu = mumbai_employees.intersection(uk_employees)
bum = banglore_employees.intersection(mumbai_employees,uk_employees)
common = bu.union(bm,mu,bum,bu)
all_emp.difference(common)

{'David', 'Pam', 'Preeti'}

In [42]:
# 8. Add a new Employee named James to Banglore
banglore_employees.add('James')

In [43]:
banglore_employees

{'David', 'James', 'Jim', 'John', 'Sara', 'Yash'}

In [44]:
# 9.remove a member named James From Banglore employees

banglore_employees.discard('James')

In [45]:
banglore_employees

{'David', 'Jim', 'John', 'Sara', 'Yash'}

In [14]:
# import string
# text = string.ascii_lowercase
# dict.fromkeys(text,0)

In [15]:
# candidates = ['Arnav', 'farhan','Arya']
# ratings = [10, 9.5, 9.9]

# dict(zip(candidates,ratings))

In [16]:
# a = [10,20,30]
# b = [100,200,300]
# c = [1000,2000,3000,4000]

# list(zip(a,b,c))

In [12]:
set(zip(a,b,c))

{(10, 100, 1000), (20, 200, 2000), (30, 300, 3000)}

In [13]:

dict(zip(a,b,c))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [17]:
candidates = {'Farhan' : 99, 'Rohith' : 0, 'Shreya M' : -10}

candidates.update({'Shreya M' : 100, 'D' : 98})

In [18]:
candidates

{'Farhan': 99, 'Rohith': 0, 'Shreya M': 100, 'D': 98}

In [19]:
candidates = {'Farhan' : 99, 'Rohith' : 0, 'Shreya M' : -10}

In [20]:
candidates.setdefault('Shreya M', 100)

-10

In [21]:
candidates

{'Farhan': 99, 'Rohith': 0, 'Shreya M': -10}

In [22]:
candidates.setdefault('D',98)

98

In [23]:
candidates

{'Farhan': 99, 'Rohith': 0, 'Shreya M': -10, 'D': 98}

## Dictionary

- created using { }
- Stores data in key value pair format {key:value}
- are unordered, can be accessed using keys

In [46]:
student_data = {'s1':{'Maths': 40,
      'English':30},
's2':{'Hindi':45,
     'English':75}}

In [47]:
product_details = {'name' : 'xyz',
                  'version' : 1.3,
                  'dependencies' : ['a','b','c'],
                  'release_date' : '05-06-2023'}
product_details

{'name': 'xyz',
 'version': 1.3,
 'dependencies': ['a', 'b', 'c'],
 'release_date': '05-06-2023'}

In [48]:
# all_products = {'p1' : {'name' : 'xyz',
#                   'version' : 1.3,
#                   'dependencies' : ['a','b','c'],
#                   'release_date' : '05-06-2023'},
#                'p2' : {'name' : 'abc',
#                   'version' : 0.1,
#                   'release_date' : '05-12-2024',
#                 'client' : 'Dell'}}

In [49]:
student_data[0]

KeyError: 0

In [50]:
student_data['s1']

{'Maths': 40, 'English': 30}

In [58]:
if type(student_data['s1']) == dict:
    print(student_data['s1'])

{'Maths': 40, 'English': 30}

In [56]:
product_details

{'name': 'xyz',
 'version': 1.3,
 'dependencies': ['a', 'b', 'c'],
 'release_date': '05-06-2023'}

In [57]:
product_details['version']

1.3

In [63]:
d = dict()
type(d)

dict

### Dictionary methods

In [64]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

### get()

In [65]:
product_details

{'name': 'xyz',
 'version': 1.3,
 'dependencies': ['a', 'b', 'c'],
 'release_date': '05-06-2023'}

In [67]:
product_details['name']

'xyz'

In [68]:
product_details['price']

KeyError: 'price'

In [66]:
product_details.get('name')

'xyz'

In [71]:
product_details.get('name', 'Key not found')

'xyz'

In [72]:
product_details.get('price', 'Key not found')

'Key not found'

In [32]:
# [] based subseeting:
# - if key present then values is given
# - if key is absent then value error

# get method:
# - if key is present then values is given
# - if key is absent then default value is returned (bydefault the default value = None, but you can modify it)

In [73]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

### keys() and values() and items()

In [74]:
product_details.keys()

dict_keys(['name', 'version', 'dependencies', 'release_date'])

In [75]:
product_details.values()

dict_values(['xyz', 1.3, ['a', 'b', 'c'], '05-06-2023'])

In [76]:
product_details.items()

dict_items([('name', 'xyz'), ('version', 1.3), ('dependencies', ['a', 'b', 'c']), ('release_date', '05-06-2023')])

In [77]:
for k in product_details.keys():
    print(k)

name
version
dependencies
release_date

In [78]:
for k in product_details.values():
    print(k)

xyz
1.3
['a', 'b', 'c']
05-06-2023

In [81]:
for k,v in product_details.items():
    print(k,v)

name xyz
version 1.3
dependencies ['a', 'b', 'c']
release_date 05-06-2023

In [82]:
for k in product_details:
    print(k)

name
version
dependencies
release_date

### pop()

In [83]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

In [84]:
product_details.pop('version')

1.3

In [85]:
product_details

{'name': 'xyz', 'dependencies': ['a', 'b', 'c'], 'release_date': '05-06-2023'}

In [86]:
product_details.pop('price')

KeyError: 'price'

In [87]:
product_details.pop('price', 'Not found')

'Not found'

In [89]:
print(student_data)

{'s1': {'Maths': 40, 'English': 30}, 's2': {'Hindi': 45, 'English': 75}}

In [91]:
student_data.get('s1').pop('English')

30

In [92]:
student_data

{'s1': {'Maths': 40}, 's2': {'Hindi': 45, 'English': 75}}

### popitem

In [93]:
help(dict.popitem)

Help on method_descriptor:

popitem(self, /)
    Remove and return a (key, value) pair as a 2-tuple.

    Pairs are returned in LIFO (last-in, first-out) order.
    Raises KeyError if the dict is empty.

In [94]:
product_details

{'name': 'xyz', 'dependencies': ['a', 'b', 'c'], 'release_date': '05-06-2023'}

In [95]:
product_details.popitem()

('release_date', '05-06-2023')

In [96]:
product_details

{'name': 'xyz', 'dependencies': ['a', 'b', 'c']}

### update()

In [52]:
# # Update: updates existing dictionary with new dict
# 1. If key is present then value will be updated
# 2. If key is absent then that new key-value pair will be added to the dictionary

In [98]:
emp_dict = {'Frenny' : 4.5,
              'Tim' : 9.5,
              'David' : 8.5}
emp_dict.update({'Tom' : 7.8})

In [99]:
emp_dict

{'Frenny': 4.5, 'Tim': 9.5, 'David': 8.5, 'Tom': 7.8}

In [100]:
emp_dict.update({'Frenny' : 1.2})
emp_dict

{'Frenny': 1.2, 'Tim': 9.5, 'David': 8.5, 'Tom': 7.8}

### setdefault

In [101]:
emp_dict = {'Frenny' : 4.5,
              'Tim' : 9.5,
              'David' : 8.5}
emp_dict.setdefault('Tom' , 7.8)
emp_dict

{'Frenny': 4.5, 'Tim': 9.5, 'David': 8.5, 'Tom': 7.8}

In [102]:
emp_dict.setdefault('Frenny' , 1.2)
emp_dict

{'Frenny': 4.5, 'Tim': 9.5, 'David': 8.5, 'Tom': 7.8}

### fromkeys

In [105]:
# fromkeys:

emp_list = ['dainik','veneeta','aarti','vikas']
dict.fromkeys(emp_list, 0)

{'dainik': 0, 'veneeta': 0, 'aarti': 0, 'vikas': 0}

In [107]:
import string
letters = string.ascii_uppercase
dict.fromkeys(letters,0)

{'A': 0,
 'B': 0,
 'C': 0,
 'D': 0,
 'E': 0,
 'F': 0,
 'G': 0,
 'H': 0,
 'I': 0,
 'J': 0,
 'K': 0,
 'L': 0,
 'M': 0,
 'N': 0,
 'O': 0,
 'P': 0,
 'Q': 0,
 'R': 0,
 'S': 0,
 'T': 0,
 'U': 0,
 'V': 0,
 'W': 0,
 'X': 0,
 'Y': 0,
 'Z': 0}

In [108]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [111]:
emp_list = ['dainik','veneeta','aarti','vikas']
scores = [10,15,14,9]
dict(zip(emp_list,scores))

{'dainik': 10, 'veneeta': 15, 'aarti': 14, 'vikas': 9}

In [112]:
a = [10,20,30]
b = ['a','b','c']
c = [100,200,300,400]

list(zip(a,b))

[(10, 'a'), (20, 'b'), (30, 'c')]

In [113]:
list(zip(a,b,c))

[(10, 'a', 100), (20, 'b', 200), (30, 'c', 300)]

In [114]:
dict(zip(b,c))

{'a': 100, 'b': 200, 'c': 300}

In [115]:
dict(zip(a,b,c))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [121]:
d = {10: 100, 20: 200, 30: 300}
d

{10: 100, 20: 200, 30: 300}

In [123]:
list(zip(a,d))

[(10, 10), (20, 20), (30, 30)]

In [119]:
dict(zip(a,c))

{10: 100, 20: 200, 30: 300}

In [120]:
dict(zip(b,zip(a,c)))

{'a': (10, 100), 'b': (20, 200), 'c': (30, 300)}

# Practice Program

In [25]:
# 1. Write a Python script to check whether a given key already exists in a dictionary.
employees = {10: 'Johny',
            12: 'Tonny',
            7: 'Ronny'}
check_id = int(input())
employees.get(check_id,"Not present")

 70

'Not present'

In [26]:
# 3. Write a Python script to concatenate the following dictionaries to create a new one
employees = {10: 'Johny',
            12: 'Tonny',
            7: 'Ronny'}
new_joinees = {7:'Rosy',
               18: 'Mary'}


employees.update(new_joinees)
employees

{10: 'Johny', 12: 'Tonny', 7: 'Rosy', 18: 'Mary'}

In [27]:
employees = {10: 'Johny',
            12: 'Tonny',
            7: 'Ronny'}
new_joinees = {7:'Rosy',
               18: 'Mary'}

employees | new_joinees

{10: 'Johny', 12: 'Tonny', 7: 'Rosy', 18: 'Mary'}

In [31]:
# 4. WAP to sort a dicionary by keys
student_scores = {'John':86,
                 'Sachin':50,
                 'Danny':78}

dict(sorted(student_scores.items()))

{'Danny': 78, 'John': 86, 'Sachin': 50}

In [37]:
# get dict sorted based on values
student_scores = {'John':86,
                 'Sachin':50,
                 'Danny':78}
def temp(x):
    return x[1]

dict(sorted(student_scores.items(), key = temp))

{'Sachin': 50, 'Danny': 78, 'John': 86}

In [39]:
# WAP to sort this data based on 3rd value of the tuple
data = [(10,'B',50),(4,'A',60),(20,'C',9)]

def temp(x):
    return x[-1]

sorted(data, key = temp)

[(20, 'C', 9), (10, 'B', 50), (4, 'A', 60)]

In [46]:
# 5. Write a Python program to count the occurence of each word in a given text
text = """###Maybelline: Maybe She’s Born With It. 
Maybe It’s Maybelline."""

import string
punc = string.punctuation
text = text.replace('\n'," ")
for p in punc:
    text = text.replace(p,"")

words = text.split()
res = dict()
for word in words:
    if word in res.keys():
        res[word] += 1
    else:
        res[word] = 1

res

{'Maybelline': 2,
 'Maybe': 2,
 'She’s': 1,
 'Born': 1,
 'With': 1,
 'It': 1,
 'It’s': 1}

In [ ]:
# 6.Write a Python program to create a dictionary from a string.
# Note: Track the count of the letters from the string.
# Sample string : 'difference'
# Expected output: {'d': 1, 'i': 1, 'f': 2, 'e': 3, 'r': 1, 'n': 1, 'c': 1}

string = 'difference'

In [ ]:
# 7. Write a Python  script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)
# Sample Dictionary ( n = 5) :
# Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}