# List Comprehension:
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing iterable.
```
Syntax

[expresssion for item in iterable]

[expression for item in iterable if condition == True]

[exp1 if cond else exp2 for item in iterable]
```

In [ ]:
# WAP using list comprehension which adds Mr. at the start of every name in the students list
student_list = ['Sudarshan', 'sam', 'Joel', 'Sarah']

In [ ]:
# convert every element in the list to integer
numbers = ['10','20','30']

In [ ]:
# make every name in list as upper case
name_list = ['Jane','Sam','Tom','Danny','Guido','Sara']

In [ ]:
# using comprehension get all even numbers from a given list
numbers = [5,9,7,6,1,4,8,3,2,0]

In [ ]:
# get list of all odd numbers between 1 to 20

In [ ]:
# Get those name which startswith s and ends with a
name_list = ['Jane','Sam','Tom','Danny','Sana','Guido','Sara','Savio']

In [ ]:
# WAP which multiplies every even element by 10, and odd elements by 5

numbers = [10,21,36,57,45]

In [ ]:
# WAP to get a list of all students whose name starts with 's'
student_list = ['Sudarshan', 'sam', 'Joel', 'Sarah']

In [ ]:
# WAP to get status list from scores_list, if score >= 80 then good,else bad
scores = [80,65,72,56,23,98,62]

In [ ]:
# Add 5 for every even index and add 10 for every odd index
numbers = [10,20,30,40,50]
# output = [15,30,35,50,55]

In [ ]:
# nested loops in comprehension

[(i,j) for i in range(5) for j in range(3)]

In [ ]:
[(i,j) for i in range(5) for j in range(3) if i+j == 3]

In [ ]:
[(i,j,k) for i in range(3) for j in range(4) for k in range(5) if i+j+k == 2]

In [ ]:
# Create a set where every element is square of numbers
numbers = [10,20,30,40,50]

In [ ]:
# Dictionary comprehension

# Create a new dictionary from the existing one such that {'a': 1,'b':4,'c':16}
data_dict = {'a': 1,'b':2,'c':4}

In [ ]:
# Create a new dictionary from the existing one such that {'a_1': 1,'b_2':4,'c_3':16}
data_dict = {'a': 1,'b':2,'c':4}